.main {
  display: grid;
}


h1 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
}

app-unit-selector {
  grid-column-start: 1;
  grid-row-start: 2;
}

app-unit-entry {
  grid-column-start: 2;
  grid-row-start: 2;
}